.footer__section {
    padding: 20px 0px;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    color: white;
}

.up {
    color: white;
    background-color: #271d52;
    border: 1px solid #462cc9;
    transition: 0.3s linear;
}

#up button:hover {
    background-color: #462cc9;
    border: 1px solid hsla(0, 0%, 100%, 0.6);
    transition: 0.3s linear;
    box-shadow: 0px 5px 15px 5px rgba(136, 144, 255, 0.2), 0px 7px 2px 5px rgba(136, 144, 255, 0.02),
        5px -2px 10px rgba(124, 95, 255, 0.2);
}
